  <h1>Make An Entry</h1>

  <form>
    <%= form_for @entry do |f| %>
    <p>
      <%= f.label :amount %>
      <%= f.text_field :amount %>
    </p>
    <p>
      <%= f.label :credit_account %>
      <%= f.collection_select :credit_account_id, Account.all, :id, :name, {:prompt => :true} %>
    </p>
    <p>
      <%= f.label :debit_account %>
      <%= f.collection_select :debit_account_id, Account.all, :id, :name, {:prompt => :true} %>
    </p>
     <p>
      <%= f.label :category %>
      <%= f.collection_select :category_id, Category.all, :id, :cat, {:prompt => :true} %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
  </form>