  <h2>Make An Entry</h2>


<%= form_for @entry, html: {class: 'entry-form'} do |f| %>
  <p>
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_field :desc %>
  </p>
  <p>
    <%= f.label :credit_account %>
    <%= f.collection_select :credit_account_id, @accounts, :id, :name, {:prompt => :true} %>
  </p>
  <p>
    <%= f.label :debit_account %>
    <%= f.collection_select :debit_account_id, @accounts, :id, :name, {:prompt => :true} %>
  </p>
   <p>
    <%= f.label :category %>
    <%= f.collection_select :category_id, Category.all, :id, :cat, {:prompt => :true} %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
