<h1>bdgt</h1>
<h3>cause your broke ass can't afford to buy a vowel</h3>

<% if current_user %>
  <h3><%= link_to 'Logout', logout_path%></h3>
<% else %>
  <h3><%= link_to 'Login or Sign up', login_path %></h3>
<% end %>

<h2><%= link_to 'Manage Accounts', accounts_path %></h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Balance</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.name %></td>
        <td><%= number_to_currency(account.balance) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'entries/form' %>

<h2>Browse By Category</h2>
<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Balance</th>
      <th>Entries</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to "#{category.cat}", category_path(category) %></td>
        <td><%= number_to_currency(category.entries.sum(:amount))%></td>
        <td> <%= category.entries.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<h2><%= link_to 'New Category', new_category_path %></h2>